* {
    box-sizing: border-box;
}

body {
    background-color: #999;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

#js-form {
    justify-content: center;
    margin: 150px 25%;
    background-color: #fff;
    height: 1000px;
    width: 750px;
}

label {
    font-size: 18px;
    padding-left: 50px;
}

input {
    margin-left: 50px;
}

#results {
    position: absolute;
    top: 300px;
    left: 421px;
}

#results p {
    color: red;
    font-size: 1.5em;
}